body{
    background-color:DarkCyan;
    background: linear-gradient(#87CEFA,#00CED1,#00FFFF,#40E0D0,#48D1CC,#00CED1,#00BFFF,#1E90FF,#6495ED)
}
p,h1,h3,h2,h4,h5,h6{
    color:#FF00FF;
    text-align: center;
    font-family: "Ruslan Display", sans-serif;
}

#nnn{
    font-size: 200px;color: #FF0000;
}
.section8{
    border-radius: 20px;
}
.section p{
    color:#8B4513;
    font-size: 4em;

}
.nav-menu{
    display: flex;
    gap: 2vw;
    font-family: "Ruslan Display", sans-serif;
    list-style: none;

}
.nav-menu li a {
    display: block;
    padding: 5px;
    text-decoration: #2F4F4F;
    color: gray;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rrr{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;  

    justify-content: center;
    margin-top: 40px;
    ;
}
.www{
    display: flex;
    min-width:250px;
    max-width: 350px;
    background-color: #FF0000;
    border-radius: 20px;
    
}
.section6{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    min-width:250px;
    max-width: 350px;
    background-color: #FF0000;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    margin: 20px;
    background-color: #3700ff;
    border-radius: 30%;
    height: 1vh;
    MAX-width: 20vw;
    display: inline-block;
    text-align: center;
    padding: 3vh;    
}
.button:hover{
    background-color: violet;
    background: linear-gradient(#FF0000,Lime);
    font-size: 2em;
    color: green;
}
.www:hover{
    transform: scale(1.99) translateY(-10px) rotate(99999999deg);
    box-shadow: 0 10px 20px rgba(184, 135, 11, 0.418);
    color: greenyellow;
}
.www{
    transition:99999s;
    animation: change_color 5s infinite;
}
@keyframes pulse {
    0%{ transform:scale(1);}
    50%{ transform:scale(1.1);}
    100%{ transform:scale(1);}
}
@keyframes change_color {
    0%{ transform:#DC143C;}
    50%{ transform:#8B0000;}
    100%{ transform:#DC143C;}
}
.button{
    animation: pulse 5s infinite;

}

@media (max-width:1024px){
    .sinsint{
        grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    }
    .section5{
        flex: 1 1 calc(50%-15px);
        flex-wrap: wrap;
    }
    
}
@media (max-width:425px){
    .nav-menu{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .nav-menu li{
        width: 100%;    

    }
    .nav-menu a{
        display: block;
    }
    .sinsint{
        grid-template-columns:repeat(1, 1fr)
    }
    
}                                                 